{% extends "layout.html" %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1-4 top">
      <div id="top-contributors" class="top-tile">
        <ul>
          <li class="tile-title">Contributors</li>
          {% for author in top_authors %}
            <li>{{ author.name }}</li>
          {% else %}
            <li>No Activity today.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="pure-u-3-4 top">
      <div id="top-contributed" class="top-tile">
        <ul>
          <li class="tile-title">Popular Projects</li>
          {% for project in top_projects %}
            <li>{{ project.identifier|title }}</li>
          {% else %}
            <li>No Activity today.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="pure-g-r labels">
      <div class="pure-u-3-8"></div>
        {% for top_project in top_projects %}
          <div class="pure-u-1-8 label"><span class="graphlabel" style="background:{{ top_project.fillcolor }};"></span>{{ top_project.identifier|title }}</div>
        {% endfor %}
      </div>
    </div>
    <canvas id="myChart" width="1060px" height="300px"></canvas>
  </div>
{% endblock %}


{% block scripts %}
  <script>
    //Get the context of the canvas element we want to select
    var ctx = document.getElementById("myChart").getContext("2d");
    var data = {
      labels : [
      "Jan 22","Jan 23","Jan 24","Jan 25","Jan 26", "Jan 27", "Jan 28"
      ],
      datasets : []
    };
    {% for top_project in top_projects %}
      data.datasets.push({
        fillColor : "{{ top_project.fillcolor }}",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data : [
          {% for data in top_project.graph_data %}
            {% if data is iterable %}
              {{ data.commit_count }},
            {% else %}
              {{ 0 }},
            {% endif %}
          {% endfor %}
          ]
      });
    {% endfor %}
    new Chart(ctx).Line(data, {
      scaleShowGridLines : true,
      scaleFontFamily : "'Nunito'",
      scaleFontSize : 15,
      //String - Scale label font weight style
      scaleFontStyle : "300",
      //String - Scale label font colour
      scaleFontColor : "#666",
      bezierCurve : false
    });
  </script>
{% endblock %}